In [1]:
mucho_texto="vizcarra es incapaz"

print(mucho_texto[:])
print(mucho_texto[0:])
print(mucho_texto[0:8]+mucho_texto[-8]+mucho_texto[14:])
print(mucho_texto[0:8]+mucho_texto[8:12]+mucho_texto[14:])

vizcarra es incapaz
vizcarra es incapaz
vizcarra capaz
vizcarra es capaz

In [2]:
lista_1=[1,2,3,4,5,6,7,8,9]
lista_1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
lista1=["miguel","alexis","gustavo"]
lista2=["Aaron","gandi","julio"]
lista3=["estudiante","egresado"]
lista1+lista2

['miguel', 'alexis', 'gustavo', 'Aaron', 'gandi', 'julio']

In [4]:
lista1[0]="Aaron"
lista1

['Aaron', 'alexis', 'gustavo']

In [5]:
lista2[0]="miguel"
lista2

['miguel', 'gandi', 'julio']

In [6]:
lista1.append("cerzoc")
lista1

['Aaron', 'alexis', 'gustavo', 'cerzoc']

In [7]:
lista2.append("meche")
lista2

['miguel', 'gandi', 'julio', 'meche']

In [8]:
lista1[1:3]=["coz","necio"]
lista1

['Aaron', 'coz', 'necio', 'cerzoc']

In [9]:
lista1.insert(1,"alexis")
lista1

['Aaron', 'alexis', 'coz', 'necio', 'cerzoc']

In [10]:
lista1.remove("coz")
lista1

['Aaron', 'alexis', 'necio', 'cerzoc']

In [11]:
lista1[2:]=[]
lista1

['Aaron', 'alexis']

In [12]:
lista_total=lista1+lista2+lista3
lista_total

['Aaron',
 'alexis',
 'miguel',
 'gandi',
 'julio',
 'meche',
 'estudiante',
 'egresado']

In [13]:
lista_total.index("gandi")

3

In [14]:
"meche" in lista_total

True

In [15]:
"coz kk" in lista_total

False

In [16]:
len("meche")

5

In [17]:
len("estudiante")

10

In [18]:
lista5=[lista2,lista3]
lista5

[['miguel', 'gandi', 'julio', 'meche'], ['estudiante', 'egresado']]

In [19]:
lista5[0][3]

'meche'

In [20]:
lista5.index(["estudiante","egresado"])

1

### Hasta aqui he repasado todo el capitulo 3
### Continuaremos con el capitulo 4.1 parte1

In [21]:
variable=input("ingresar la palabra:")
type(variable)

ingresar la palabra:3

str

In [22]:
variable2=int(input("ingresa numero deseado: "))
type(variable2)

ingresa numero deseado: 3

int

In [23]:
variable3=float(input("ingresa decimal: "))
type(variable3)

ingresa decimal: 3

float

In [24]:
n=int(input("ingrese numero analizar: "))

if n<0:
    print("es un numero negativo")
elif n==0:
    print("este numero es cero")
else:
    print("este numero es positivo")

ingrese numero analizar: 3
este numero es positivo

In [25]:
lista=["oliver","jessica","junior","indira","mercedes"]
print("oliver" in lista)

True

In [26]:
print("mercedes" in lista)

True

In [27]:
print("coz" in lista)

False

In [28]:
palabra="amesquita"
print("a" in palabra)

True

### capitulo 4 parte2

In [29]:
palabra="tres tristes tigres comen trigo"

for i in palabra:
    print(i)

t
r
e
s

t
r
i
s
t
e
s

t
i
g
r
e
s

c
o
m
e
n

t
r
i
g
o

In [30]:
lista_1=["perro","gato","vaca","murcielago"]

for i in lista_1:
    print(i,len(i))

perro 5
gato 4
vaca 4
murcielago 10

In [31]:
for n in [3,4,5,6]:
    print("bob es tonto",n)

bob es tonto 3
bob es tonto 4
bob es tonto 5
bob es tonto 6

In [32]:
for i in "mimamamemima":
    print("mono", end="-")

mono-mono-mono-mono-mono-mono-mono-mono-mono-mono-mono-mono-

In [33]:
email=input("ingresar correo electronico: ")
for m in email:
    if m=="@":
        email=True
print(email)
if email==True:
    print("correcto")
else:
    print("incorrecto")

ingresar correo electronico:

incorrecto

In [34]:
n_lista=[]
num_e=int(input("#de elementos: "))
i=1
while i<=num_e:
    j=input("ingresa valor: ")
    n_lista.append(j)
    i=i+1
print(n_lista)

#de elementos: 3
ingresa valor: 3
ingresa valor: 3
ingresa valor: 3
['3', '3', '3']

In [35]:
n_lista1=[]
num=int(input("ingresa el numero de animales: "))
i=1
while i<num:
    z=input("ingresa el animal:")
    n_lista1.append(z)
    i=i+1
print(n_lista1)

ingresa el numero de animales:

ValueError: invalid literal for int() with base 10: ''

In [39]:
dic={"mono":"negro","chikito":"blanco","boliche":"naranja"}
print(dic)

{'mono': 'negro', 'chikito': 'blanco', 'boliche': 'naranja'}

In [40]:
print(dic["mono"],dic["boliche"])

negro naranja

In [41]:
dic1={1:True,2:False,3:True}
print(dic1[1])

True

In [37]:
dic2={}
dic2["mono"]="negro"
dic2["boliche"]="naranja"
print(dic2)

{'mono': 'negro', 'boliche': 'naranja'}

In [38]:
del dic2["mono"]
print(dic2)

{'boliche': 'naranja'}

In [45]:
items=dic.items()
print(items)

dict_items([('mono', 'negro'), ('chikito', 'blanco'), ('boliche', 'naranja')])

In [48]:
for i in items:
    print(i)

('mono', 'negro')
('chikito', 'blanco')
('boliche', 'naranja')

In [50]:
for i,j in items:
    print(i)

mono
chikito
boliche

In [52]:
for i,j in items:
    print(j)

negro
blanco
naranja

In [54]:
for i,j in items:
    print(i,j)

mono negro
chikito blanco
boliche naranja